header {
    background-color: #E8CA9E;
    padding: 14px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

.nav-container {
    display: flex;
    justify-content: flex-end; /* Alinear a la derecha */
    align-items: center; /* Centrar verticalmente */
    gap: 30px; /* Espaciado entre el menú y el buscador */
}

nav {
    display: flex;
    align-items: center; /* Centrar verticalmente */
}

.search-nav {
    position: relative; /* Posición relativa para mantener alineación */
    display: flex;
    align-items: center;
    width: 120px;
    height: 25px; /* Ajustado a 50px */
}

.search-input {
    border: 1px solid  #ccc; /* Color del borde */
    border-radius: 25px; /* Borde redondeado */
    padding: 10px; /* Ajuste de espacio interno */
    font-size: 12px; /* Tamaño de fuente */
    height: 100%; /* Para que el input se ajuste al contenedor */
    width: 100%; /* Ancho inicial */
    outline: none; /* Quita el contorno predeterminado */
    box-sizing: border-box;
    transition: width 0.3s ease-in-out; /* Transición suave para ancho */
}

.search-input:focus {
    width: 100%; /* Ancho expandido al enfocar */
}



.header-container {
    display: flex; /* Usar flexbox para alinear los elementos */
    align-items: center; /* Centrar verticalmente */
    justify-content: space-between; /* Espacio entre logo y otros elementos */
    padding-left: 5px;
}

header .logo {
    flex: 1; /* Permitir que el logo ocupe espacio */
}

header .logo img {
    height: 40px; /* Ajusta según el tamaño deseado */
}

/* Lista de navegación general */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

/* Elementos de la lista de navegación */
nav ul li {
    display: flex;
    flex-direction: column;
}

/* Estilo de los enlaces */
nav ul li a {
    font-family: var(--primary-font), sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    color: #FFFFFF; /* Color base */
    font-size: 15px;
    padding: 5px;
    transition: color 0.3s, border-bottom 0.3s, font-size 0.3s;
    text-align: center; /* Centrar el texto */
    max-width: 100px; /* Límite de ancho */
    word-wrap: break-word; /* Permitir quiebres de palabras largas */
    white-space: normal; /* Texto en múltiples líneas si es necesario */
}

/* Efecto al pasar el mouse */
nav ul li a:hover {
    color: #691C32; /* Color al pasar el mouse */
    font-size: 17px; /* Aumentar el tamaño */
}

.social-icons {
    position: fixed;
    bottom: 15%;
    right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrar íconos verticalmente */
    z-index: 2;
    gap: 12px;
}

.social-icons a {
    margin: 0 20px; /* Espacio entre íconos */
    color: #203F39; /* Color de los íconos */
    font-size: 24px; /* Tamaño de los íconos */
}

.social-icons a:hover {
    color: #6cdb84;
}


.checkbtn{
    font-size: 30px;
    color:#8b7436;
    float: right;
    line-height: 80px;
    margin-right: 30px;
    cursor:pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width:1100px) {
    nav ul li{
        display: inline;
    }
    nav ul li a {
        font-size:14px;
    }
    nav ul li a:hover {
        font-size:16px;
    }
    .search-nav{
        display: none;
    }
}

@media (max-width:952px) {
    nav ul li a {
        font-size:13px;
    }
    nav ul li a:hover {
        font-size:14px;
    }
    .social-icons{
        display: none;
    }
    
}

@media (max-width:858px) {
    #iconos{
        display: none;
    }
    
    nav{
        width: 100%;
    }
    header .logo img {
        height: 50px; /* Ajusta según el tamaño deseado */
    }
    nav ul {
        display: none;
        flex-direction: column;
        background-color: #D4B281;
        position: absolute;
        top: 70px; /* Ajustar para que esté justo debajo del header */
        right: 0;
        width: 30%;
        z-index: 99;
        padding: 10px;
        margin: 5px;
    }

    nav ul li {
        margin: 5px;
    }

    /* Muestra el ícono de hamburguesa */
    .checkbtn {
        display: block;
    }
    
    .logo img{
        position: absolute;
        top: 10px;
        
    }
    /* Cuando el checkbox está marcado, el menú se muestra */
    #check:checked ~ ul {
        height: auto; /* Ajusta la altura según el contenido */
        display: flex;
    }
    
    
}
