
body {
    font-family: var(--secondary-font);
    margin: 0;
    padding: 0;
    background-color: #F6F4F3;
    max-height: none;
}
h4{
    font-family: var(--primary-font);
}
h1{
    font-family: var(--primary-font);
}
h2{
    font-family: var(--primary-font);
}
h3{
    font-family: var(--primary-font);
}

.banner-secundario{
    display: flex;
    flex-direction: column;
    margin: auto; /* Añadido margen superior para empujar el contenido hacia abajo */
    height: 200px;
    z-index: 1;
    overflow: hidden;
    width: 100%;
  }
  
    
    
.page-container h2 {
      font-family: var(--primary-font), serif;
      margin-top: 20px;
      color: #8C5252;
      font-size: 21px;
      letter-spacing: 1px;
      margin-bottom: 5px;
}
.page-container h3{
      font-family: var(--primary-font),serif;
      margin-top: 20px;
      color: #8C5252;
      margin-bottom: 5px;
}
    
.page-container p {
  text-align: justify;
  margin-bottom: 15px;
  color: #404040;
  font-size: 17px;
  line-height: 1.5;
  margin-top: 5px;
}

.page-container ul {
  text-align: justify;
  margin-bottom: 15px;
  color: #404040;
  font-size: 17px;
  line-height: 1.5;
  margin-top: 5px;
}
  
.info-button {
  font-family: var(--primary-font);
  background-color: #691C32; /* Color vino */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px; /* Borde redondeado */
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  display: block;
  width: fit-content; /* Ajusta el ancho del botón al contenido */
  margin-left: -25px;
}
.page-container {
  display: flex; /* Activar Flexbox */
  justify-content: space-between; /* Espaciado entre los elementos */
  padding-bottom: 20px;
  max-width: 1200px; /* Ancho máximo del contenedor */
  margin: 30px auto; /* Centrar el contenedor en la página */
  z-index: 3;
  padding: 0px 20px;
  font-family: Geomanist;
  position: relative;
}
.titulo-pag{
    display: flex; /* Activar Flexbox */
    justify-content: space-between; /* Espaciado entre los elementos */
    max-width: 1200px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar el contenedor en la página */
    margin-top: -20px;
    z-index: 3;
    padding: 0px 20px;
    font-family: Geomanist;
    position: relative;
}
.content {
  flex: 1; /* Hacer que el contenido principal ocupe el espacio disponible */
  padding-right: 20px; /* Espacio a la derecha del contenido */
}

button:disabled {
        cursor: default;
    }
.banner {
    display: flex;
    flex-direction: column;
    margin: auto; /* Añadido margen superior para empujar el contenido hacia abajo */
}
.sub-div{
    height: 70px;
}
.frases-container {
    margin-top: -200px;
    height: 220px;
    display: flex;
    gap: 100px;
    flex-direction: row;
    justify-content: center; /* Centra los elementos horizontalmente */
    z-index: 2;
    width: 100%; /* Asegura que ocupe todo el ancho */
}

.frases-box {
    background-color: #ebe3e3bd;
    width: 240px;
    z-index: 1;
    padding: 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Alinea el contenido horizontalmente al centro */
    text-align: center; /* Centra el texto dentro de los elementos */
    padding-bottom: 10px;
}

.frase-logo {
    display: flex;
    flex-direction: column; /* Coloca el icono encima del título */
    align-items: center; /* Asegura que todo esté centrado horizontalmente */
    margin-top: 10px;
}

.frase-descripcion {
    font-size: 14px; /* Ajusta el tamaño del texto según tu diseño */
    width: 90%;
    margin-top: 0px;
}
.frase-descripcion p {
    margin-top: 0;
    text-align: left;
    font-size: 17px;
    word-wrap: break-word;
    color: #000000bb;
}

.frase-logo h2 {
    font-size: 20px;
    
}

.explora-cont{
    display: flex;
    justify-content: flex-start;
    align-items: left;
    padding-left: 10px;
    color: #404040;
    font-size: 30px;
}
.explora-cont h1{
    font-size: 30px;
    color: #404040;
}
.sitsect-cont{
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-left: 10px;
}
.sitsect-cont > div:first-child { 
    width: 30%; /* Solo afecta al primer hijo (párrafo) */
    font-size: 20px;
}

.sitsect-cont > div:nth-child(2) { 
    width: 70%; /* Solo afecta a .sitsect-box-container */
    display: flex;
    flex-wrap: wrap; /* Permite que los hijos conserven su tamaño */
    gap: 15px; /* Espaciado entre elementos */
}

.sitsect-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
    height: 200px;
    width: 220px;
}
.sitsect-box img {
    flex: 3; /* La imagen ocupará 3 partes del espacio */
    width: 220px; /* Mantén proporciones */
    height: 150px; /* Permite que se adapte según el ancho */
    object-fit: cover;
}

.sitsect-box h3 {
    flex: 1; /* El párrafo ocupará 1 parte del espacio */
    margin: 0; /* Elimina márgenes por defecto */
    text-align: center;
    font-size: 20px;
    font-weight: lighter;
}
.sitsect-box a{
    color: black;
}
.sitsect-box a:visited{
    color: black;
}

.carousel {
    width: 100%; /* Igual al ancho del campo de búsqueda */
    height: 400px; /* Ajusta la altura según el tamaño deseado */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.3); /* Opcional: Añade un fondo semi-transparente para mejor visibilidad */
    z-index: 1; /* Establece el carousel por debajo del .frases-container */
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}


.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px; /* Aumenta el margen superior para evitar solapamientos */
    flex-direction: column;
    gap: 5px;
}

.main-content .card {
    padding: 20px;
    width: 90%;
    border-radius: 8px;
}

.main-content .card h2 {
    color: #8b7436;
    font-size: 18px;
}

.main-content .card p {
    color: #7d7b76;
}

.section {
    min-height: 200px;
    width: 80%;
    margin-bottom: 10px;
    display: block; /* El valor por defecto para contenedores de bloque */
    position: relative; /* Si necesitas posicionamiento relativo */
}
.moto {
    padding: 50px 50px;
    overflow: visible;
    background-color: #ebe3e3bd;
    font-size: 45px;
    text-align: center;
    width: 1100px;
    position: absolute; /* Permite posicionar el elemento fuera de los límites normales */
    left: 50%; /* Mueve el elemento hacia el centro del contenedor */
    transform: translateX(-50%); /* Ajusta para centrarlo completamente */
    top: 50%; /* Opcional: posiciona verticalmente en el medio de la sección */
    transform: translate(-50%, -50%); /* Para centrar tanto horizontal como verticalmente */
}

.main-content hr{
    border: none;    
    align-self: stretch; /* Asegura que ocupe todo el ancho del contenedor */
    border: none; /* Elimina el borde predeterminado */
    border-top: 1px solid #000; /* Crea un borde horizontal */
    margin: 10px 0; /* Espaciado opcional */
    
}

/* Contenedor para el título y la tarjeta */
.card-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px; /* Espacio debajo de cada tarjeta-container */
}

/* Botones para los títulos arriba de las tarjetas */
.card-title {
    font-family: var(--primary-font);
    font-weight: bold;
    background-color: #691C32; /* Color vino */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px; /* Borde redondeado */
    font-size: 18px;
    margin-bottom: 20px; /* Espacio debajo del botón */
    text-align: center;
    display: block;
    width: fit-content; /* Ajusta el ancho del botón al contenido */
}


.card {
    padding: 20px;
    width: 100%;
    border-radius: 8px;
    text-align: center; /* Centra el contenido de la tarjeta */
    overflow: hidden; /* Evita que el contenido se desborde */
}





button:hover {
   
    cursor: pointer;
}
button:disabled {
    cursor: default;
}

.program-info {
    background-color: #f2f2f2; /* Color de fondo de la información del programa */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px; /* Espacio interno */
    margin-top: 5px; /* Espacio superior */
    margin-left: 20px; /* Espacio izquierdo */
    width: 70%;
}



/* Estilos del formulario */
.form-container {
    background-color: #f2f2f2; /* Fondo claro para el formulario */
    padding: 20px; /* Espacio interior del formulario */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para el formulario */
}

.form-group-inline {
    display: flex; /* Alinear en una fila */
    justify-content: space-between; /* Espacio entre los grupos */
    margin-bottom: 25px; /* Espacio inferior para el contenedor de línea */
}

.form-group {
    display: flex;
    flex-direction: column; /* Coloca los elementos en una columna */
    margin-right: 20px; /* Espacio a la derecha de la primera columna */
}

.form-group:last-child {
    margin-right: 0; /* Quita el margen derecho del último grupo */
}

.label-grande {
    font-weight: bold; /* Negrita para el label */
    font-size: 16px; /* Tamaño de fuente del label */
    margin-top: 5px; /* Espacio superior opcional para el label */
    color: #6F4C3E; /* Color café para el texto */
}



.btn-enviar {
    background-color: #6F4C3E; /* Color café */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    border-radius: 5px; /* Bordes redondeados */
    padding: 10px 20px; /* Espacio interno */
    font-size: 16px; /* Tamaño de fuente */
    cursor: pointer; /* Cambiar el cursor al pasar por encima */
    transition: background-color 0.3s; /* Efecto de transición para el hover */
}

.btn-enviar:hover {
    background-color: #5C3B2F; /* Color más oscuro al pasar el cursor */
}
.loading-icon{
    height: 100px;
    margin-left:20%;
}


@media (max-width:858px) {
    .section{
        width: 100%;
    }
    .carousel{
        width: 100%;
        border-radius: 0px;
        height: 300px;
    }
    .main-content{
        flex-direction: column;
    }
    .carousel-images img {
        width: 300%;
        flex-shrink: 0;
    }

    .frases-container {
        gap: 20px;
        margin-top: 0;
        height: 220px;
        display: flex;
        flex-direction: row;
        width: 100%; /* Asegura que ocupe todo el ancho */
        overflow-x: scroll;
        justify-content: left;
        margin-bottom: 15px;
    }
    .frases-box{
        width: 250px;
        height: auto;
    }
    .sub-div{
        height: 10px;
    }
    .frase-descripcion p {
        top: 1;
        margin-top: 0;
        text-align: left;
        font-size: 14px;
        word-wrap: break-word;
        color: #000000bb;
    }
    .frase-logo h2 {
        font-size: 16px;
        
    }
    .moto{
        width: 85%;
        font-size: 30px;
    }
    .page-container{
        flex-direction: column;
    }

  }